* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #252525;
  font-family: sans-serif;
  overflow-x: hidden; }

.hidden {
  opacity: 0; }

.main-nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 30px;
  align-items: center;
  background: transparent;
  z-index: 10000;
  width: 100%;
  transition: all 0.5s ease-in-out; }
  .main-nav .logo {
    margin-right: auto;
    width: 70px !important;
    height: 70px !important;
    padding: 20px 25px;
    background-color: #fff;
    color: #d24d57;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: rotate(15deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer; }
  .main-nav .logo:hover {
    transform: rotate(0deg) scale(1.1); }
  .main-nav .menu-items {
    float: right;
    display: flex;
    list-style: none;
    margin-left: auto; }
    .main-nav .menu-items li {
      margin: 0 25px;
      transition: all 0.5s ease-in-out; }
      .main-nav .menu-items li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: #fff; }
      .main-nav .menu-items li.current {
        border-bottom: 3px solid #fff;
        padding-bottom: 0.4rem; }
  .main-nav.white {
    background-color: #eee;
    box-shadow: 0px 9px 94px -10px rgba(0, 0, 0, 0.75); }
    .main-nav.white .logo {
      background-color: #bc303a;
      color: #fff; }
    .main-nav.white .menu-items li {
      border-bottom-color: #bc303a; }
      .main-nav.white .menu-items li a {
        color: #bc303a; }

.header {
  z-index: 2;
  background: url(/img/banner.jfif);
  width: 100vw;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 200px; }
  .header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(210, 77, 87, 0.8);
    z-index: 0;
    transform: translateY(0); }
  .header h1 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    z-index: 2;
    letter-spacing: 3px; }
  .header p {
    color: #fff;
    max-width: 1000px;
    padding: 0 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    z-index: 2;
    margin-top: 20px;
    font-family: "Noto Serif TC", serif; }
  .header .header-btn {
    margin: 30px 0;
    z-index: 2;
    color: #fff;
    background: transparent;
    padding: 1.3rem 5.5rem;
    border: 2px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    letter-spacing: 2px;
    margin-top: 100px;
    transition: all 0.5s ease-in-out; }
  .header .header-btn:hover {
    color: #d24d57;
    background: #fff; }

.burger {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 10001;
  cursor: pointer;
  transition: all 0.5s ease-in-out; }
  .burger .line {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
    transition: all 0.5s ease-in-out; }
    .burger .line.white {
      background: #bc303a; }
    .burger .line.show:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .burger .line.show:nth-child(2) {
      opacity: 0; }
    .burger .line.show:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -7px); }
  .burger.close {
    transform: rotate(180deg); }

.nav-items {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(188, 48, 58, 0.8);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  overflow: noscroll;
  position: fixed;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out; }
  .nav-items.show {
    transform: translateX(0); }
  .nav-items li {
    margin-top: 50px; }
    .nav-items li a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 800; }
      .nav-items li a:hover {
        border-bottom: 3px solid #fff;
        padding-bottom: 10px; }

#portofolio {
  background: #eee;
  display: flex;
  flex-direction: column;
  transform: translateY(-8rem);
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif TC", serif;
  text-align: center; }
  #portofolio .portofolio-title {
    text-transform: uppercase;
    font-size: 2rem;
    color: #444;
    font-family: sans-serif;
    margin-bottom: 20px;
    letter-spacing: 4px; }
  #portofolio .portofolio-description {
    max-width: 1000px;
    font-size: 1.2rem;
    color: grey; }

#work {
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transform: translateY(-8rem); }
  #work .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 7px -10px rgba(128, 128, 128, 0.5);
    font-family: sans-serif;
    font-family: "Noto Serif TC", serif; }
    #work .project hr {
      background-color: #c5c5c5;
      width: 10%;
      height: 1px;
      margin: 20px 0;
      border: none; }
    #work .project img {
      margin: 0.9rem auto;
      width: 80%;
      object-fit: contain; }
    #work .project .project-title {
      font-size: 1.7rem;
      padding-bottom: 15px;
      color: rgba(0, 0, 0, 0.8); }
    #work .project .project-short {
      font-size: 0.9rem;
      color: grey; }
    #work .project .project-description {
      width: 60%;
      max-width: 1600px;
      padding: 10px 0 50px 0;
      font-size: 1.1rem;
      color: grey;
      line-height: 1.6;
      letter-spacing: 1px;
      font-family: "Noto Serif TC", serif; }
    #work .project .btn {
      transition: all 0.5s ease-in-out;
      color: #d24d57;
      background: #fff;
      border: 2px solid #d24d57;
      text-decoration: none;
      font-family: sans-serif;
      margin-bottom: 2rem;
      padding: 1rem 2rem;
      text-transform: uppercase;
      border-radius: 5px; }
    #work .project .btn:hover {
      color: #fff;
      background: #d24d57; }

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }

.collage-bg {
  margin-top: 2rem;
  z-index: 2;
  background: url(/img/collage.jfif);
  width: 100vw;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transform: translateY(-8rem);
  flex-direction: column;
  text-align: center;
  margin: 0; }
  .collage-bg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 107, 93, 0.8);
    z-index: 0;
    transform: translateY(0); }
  .collage-bg .about-title {
    z-index: 3;
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .collage-bg .about-description {
    color: #fff;
    z-index: 4;
    font-size: 1.1rem;
    line-height: 1.4;
    letter-spacing: 1.2px;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 1200px; }

#contact {
  height: 60vh;
  background: #d24d57;
  min-height: 60vh;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: "Noto Serif TC", serif;
  transform: translateY(-8rem);
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  #contact .title {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-bottom: 2rem; }
  #contact .description {
    font-size: 1.3rem;
    width: 90%;
    margin-bottom: 2rem;
    max-width: 1000px; }
  #contact .contact-btn {
    background: #d24d57;
    border: 2px solid #fff;
    padding: 0.8rem 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    outline: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2rem; }
    #contact .contact-btn i {
      margin-right: 1rem; }
    #contact .contact-btn:hover {
      color: #d24d57;
      background: #fff; }

#footer {
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: grey;
  transition: all 0.5s ease-in-out; }
  #footer .copyright {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-bottom: 2rem; }
    #footer .copyright .colored {
      color: #d24d57; }
  #footer .link-btn {
    background: #181818;
    border-radius: 5px;
    padding: 0.6rem 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: grey;
    transition: all 0.5s ease-in-out; }
    #footer .link-btn i {
      margin-right: 1rem; }
      #footer .link-btn i.insta {
        color: #ce2d94; }
      #footer .link-btn i.git {
        color: #24292e; }
    #footer .link-btn.instagram:hover {
      background: #ce2d94;
      color: #fff;
      transition: all 0.5s ease-in-out; }
      #footer .link-btn.instagram:hover i {
        color: #fff; }
    #footer .link-btn.github:hover {
      background: #24292e;
      color: #fff;
      transition: all 0.5s ease-in-out; }
      #footer .link-btn.github:hover i {
        color: #fff; }
  #footer .icons {
    width: 30%;
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    cursor: pointer; }
    #footer .icons a {
      text-decoration: none;
      color: grey;
      transition: all 0.5s ease-in-out; }
      #footer .icons a i.fa-facebook:hover {
        transition: all 0.5s ease-in-out;
        color: #0a7fec; }
      #footer .icons a i.fa-instagram:hover {
        transition: all 0.5s ease-in-out;
        color: #ce2d94; }
      #footer .icons a i.fa-github:hover {
        transition: all 0.5s ease-in-out;
        color: #fff; }
      #footer .icons a i.fa-linkedin:hover {
        transition: all 0.5s ease-in-out;
        color: #0077b5; }

#contact-form {
  opacity: 1;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  transition: all 0.5s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; }
  #contact-form.show {
    visibility: visible; }
  #contact-form .center {
    width: 80%;
    max-width: 1000px;
    height: 80%;
    display: flex;
    justify-content: center; }
    #contact-form .center > div {
      flex: 0.5;
      margin: auto 0; }
    #contact-form .center .about-form {
      transform: translateY(-200%);
      background: #cfcfcf;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.5rem;
      color: #444;
      transition: all 0.5s ease-in-out; }
      #contact-form .center .about-form.show {
        transform: translateY(0); }
      #contact-form .center .about-form .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        border-bottom: 5px solid #d24d57;
        display: inline-block; }
      #contact-form .center .about-form .small-desc {
        color: grey;
        font-size: 0.8rem;
        margin-bottom: 1rem; }
      #contact-form .center .about-form .desc {
        letter-spacing: 1px;
        line-height: 1.4; }
      #contact-form .center .about-form .icons {
        margin: 1rem auto;
        display: flex;
        width: 100%;
        max-width: 400px;
        justify-content: space-evenly; }
        #contact-form .center .about-form .icons i {
          transition: all 0.5s ease-in-out;
          display: flex; }
          #contact-form .center .about-form .icons i.fa-react:hover {
            color: #09789b; }
          #contact-form .center .about-form .icons i.fa-node-js:hover {
            color: #6aa05c; }
          #contact-form .center .about-form .icons i.fa-js:hover {
            color: #cbb60e; }
          #contact-form .center .about-form .icons i.fa-css3-alt:hover {
            color: #1a6fb4; }
    #contact-form .center .message-form {
      position: relative;
      background: #bc303a;
      color: #eee;
      height: 100%;
      width: 100%;
      text-align: start;
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      justify-content: center;
      transform: translateY(200%);
      transition: all 0.5s ease-in-out; }
      #contact-form .center .message-form.show {
        transform: translateY(0); }
      #contact-form .center .message-form .form-title {
        font-size: 1.7rem;
        margin-bottom: 3rem;
        border-bottom: 5px solid #eee; }
      #contact-form .center .message-form .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem; }
        #contact-form .center .message-form .input-group label {
          letter-spacing: 1.4px;
          font-size: 0.8rem;
          color: silver;
          margin-bottom: 0.4rem; }
        #contact-form .center .message-form .input-group input,
        #contact-form .center .message-form .input-group input:focus,
        #contact-form .center .message-form .input-group textarea,
        #contact-form .center .message-form .input-group textarea:focus {
          width: 100%;
          display: block;
          background: transparent;
          outline: none;
          border: 0;
          border-bottom: 2px solid silver;
          padding: 0.3rem 0.5rem;
          color: #eee;
          font-size: 1rem; }
      #contact-form .center .message-form .form-btn {
        background: transparent;
        border: 2px solid #fff;
        border-radius: 5px;
        color: #eee;
        padding: 0.7rem 2rem;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        outline: none; }
        #contact-form .center .message-form .form-btn:hover {
          background: #eee;
          color: #d24d57; }
  #contact-form .close-form {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out; }
    #contact-form .close-form:hover {
      transform: rotate(360deg) scale(1.3); }

.no-display {
  display: none; }

@media (max-width: 575.98px) {
  h1 {
    margin-top: 160px; } }

@media (max-width: 767.98px) {
  .nav {
    display: inline-block; }
  .main-nav {
    transform: translateX(0); }
  .menu-items {
    opacity: 0;
    transform: translateX(100%); }
  .center {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    min-height: 100vh;
    min-width: 100vw;
    margin: 1rem; }
    .center::-webkit-scrollbar {
      display: none; }
    .center .title {
      padding-top: 5rem; }
    .center .form-btn {
      padding-bottom: 4rem; }
    .center > div {
      transform: translateY(10rem); }
  #contact-form.show .burger {
    display: none; } }

@media (min-width: 766px) {
  .burger {
    display: none; } }
