#contact-form {
  opacity: 1;
  z-index: 10000;

  background: rgba(#000, 0.7);
  position: fixed;
  @include easeOut();
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  .center {
    width: 80%;
    max-width: 1000px;
    height: 80%;
    display: flex;
    justify-content: center;
    & > div {
      flex: 0.5;
      margin: auto 0;
    }
    .about-form {
      transform: translateY(-200%);
      background: darken(#eee, 12);
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.5rem;
      color: #444;
      @include easeOut();

      &.show {
        transform: translateY(0);
      }
      .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        border-bottom: 5px solid $primary-color;
        display: inline-block;
      }

      .small-desc {
        color: grey;
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }

      .desc {
        letter-spacing: 1px;
        line-height: 1.4;
      }

      .icons {
        margin: 1rem auto;
        display: flex;
        width: 100%;
        max-width: 400px;
        justify-content: space-evenly;
        i {
          @include easeOut();
          display: flex;
          &.fa-react:hover {
            color: darken(#79d9f7, 40);
          }
          &.fa-node-js:hover {
            color: #6aa05c;
          }
          &.fa-js:hover {
            color: darken(#efd81d, 10);
          }
          &.fa-css3-alt:hover {
            color: #1a6fb4;
          }
        }
      }
    }
    .message-form {
      position: relative;
      background: darken($primary-color, 10);
      color: #eee;
      height: 100%;
      width: 100%;
      text-align: start;
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      justify-content: center;
      transform: translateY(200%);
      @include easeOut();

      &.show {
        transform: translateY(0);
      }

      .form-title {
        font-size: 1.7rem;
        margin-bottom: 3rem;
        border-bottom: 5px solid #eee;
      }

      .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
          letter-spacing: 1.4px;
          font-size: 0.8rem;
          color: silver;
          margin-bottom: 0.4rem;
        }

        input,
        input:focus,
        textarea,
        textarea:focus {
          width: 100%;
          display: block;
          background: transparent;
          outline: none;
          border: 0;
          border-bottom: 2px solid silver;
          padding: 0.3rem 0.5rem;
          color: #eee;
          font-size: 1rem;
        }
      }

      .form-btn {
        background: transparent;
        border: 2px solid #fff;
        border-radius: 5px;
        color: #eee;
        padding: 0.7rem 2rem;
        @include easeOut();
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        outline: none;
        &:hover {
          background: #eee;
          color: $primary-color;
        }
      }
    }
  }

  .close-form {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    @include easeOut();
    &:hover {
      transform: rotate(360deg) scale(1.3);
    }
  }
}

.no-display {
  display: none;
}
