.main-nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 30px;
  align-items: center;
  background: transparent;
  z-index: 10000;
  width: 100%;
  .logo {
    margin-right: auto;
    width: 70px !important;
    height: 70px !important;
    padding: 20px 25px;
    background-color: #fff;
    color: $primary-color;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: rotate(15deg);
    @include easeOut();
    cursor: pointer;
  }

  .logo:hover {
    transform: rotate(0deg) scale(1.1);
  }

  .menu-items {
    float: right;
    display: flex;
    list-style: none;
    margin-left: auto;

    li {
      margin: 0 25px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: #fff;
      }

      @include easeOut();

      &.current {
        border-bottom: 3px solid #fff;
        padding-bottom: 0.4rem;
      }
    }
  }

  @include easeOut();

  &.white {
    background-color: #eee;
    box-shadow: 0px 9px 94px -10px rgba(0, 0, 0, 0.75);
    .logo {
      background-color: darken($primary-color, 10);
      color: #fff;
    }
    .menu-items {
      li {
        a {
          color: darken($primary-color, 10);
        }
        border-bottom-color: darken($primary-color, 10);
      }
    }
  }
}
