$primary-color: #d24d57;

@mixin easeOut {
  transition: all 0.5s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #252525;
  font-family: sans-serif;
  overflow-x: hidden;
  // transform: translateX(1rem);
}

.hidden {
  opacity: 0;
}

@import "nav";
@import "header";
@import "burger";
@import "portofolio";
@import "project";
@import "about";
@import "contact";
@import "footer";
@import "form";

@import "media.scss";
